blinker==1.9.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
flask==3.1.2
flask-cors==6.0.2
google-api-core==2.29.0
google-auth==2.47.0
google-cloud-core==2.5.0
google-cloud-speech==2.35.0
google-cloud-texttospeech==2.33.0
google-cloud-translate==3.23.0
googleapis-common-protos==1.72.0
grpc-google-iam-v1==0.14.3
grpcio==1.76.0
grpcio-status==1.76.0
idna==3.11
importlib-metadata==8.7.1
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.3
proto-plus==1.27.0
protobuf==6.33.3
pyasn1==0.6.1
pyasn1-modules==0.4.2
requests==2.32.5
rsa==4.9.1
typing-extensions==4.15.0
urllib3==2.6.3
werkzeug==3.1.5
zipp==3.23.0
